@font-face {
    font-family: 'Neue Plak Bold';
    src: url('/fonts/NeuePlak-Bold.eot');
    src: url('/fonts/NeuePlak-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeuePlak-Bold.woff2') format('woff2'),
        url('/fonts/NeuePlak-Bold.woff') format('woff'),
        url('/fonts/NeuePlak-Bold.ttf') format('truetype'),
        url('/fonts/NeuePlak-Bold.svg#NeuePlak-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Plak Light';
    src: url('/fonts/NeuePlak-Light.eot');
    src: url('/fonts/NeuePlak-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeuePlak-Light.woff2') format('woff2'),
        url('/fonts/NeuePlak-Light.woff') format('woff'),
        url('/fonts/NeuePlak-Light.ttf') format('truetype'),
        url('/fonts/NeuePlak-Light.svg#NeuePlak-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Plak Narrow Light';
    src: url('/fonts/NeuePlak-NarrowLight.eot');
    src: url('/fonts/NeuePlak-NarrowLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeuePlak-NarrowLight.woff2') format('woff2'),
        url('/fonts/NeuePlak-NarrowLight.woff') format('woff'),
        url('/fonts/NeuePlak-NarrowLight.ttf') format('truetype'),
        url('/fonts/NeuePlak-NarrowLight.svg#NeuePlak-NarrowLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Plak Regular';
    src: url('/fonts/NeuePlak-Regular.eot');
    src: url('/fonts/NeuePlak-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeuePlak-Regular.woff2') format('woff2'),
        url('/fonts/NeuePlak-Regular.woff') format('woff'),
        url('/fonts/NeuePlak-Regular.ttf') format('truetype'),
        url('/fonts/NeuePlak-Regular.svg#NeuePlak-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Plak SemiBold';
    src: url('/fonts/NeuePlak-SemiBold.eot');
    src: url('/fonts/NeuePlak-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeuePlak-SemiBold.woff2') format('woff2'),
        url('/fonts/NeuePlak-SemiBold.woff') format('woff'),
        url('/fonts/NeuePlak-SemiBold.ttf') format('truetype'),
        url('/fonts/NeuePlak-SemiBold.svg#NeuePlak-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Plak Thin';
    src: url('/fonts/NeuePlak-Thin.eot');
    src: url('/fonts/NeuePlak-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeuePlak-Thin.woff2') format('woff2'),
        url('/fonts/NeuePlak-Thin.woff') format('woff'),
        url('/fonts/NeuePlak-Thin.ttf') format('truetype'),
        url('/fonts/NeuePlak-Thin.svg#NeuePlak-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Plak Narrow Regular';
    src: url('/fonts/NeuePlak-NarrowRegular.eot');
    src: url('/fonts/NeuePlak-NarrowRegular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeuePlak-NarrowRegular.woff2') format('woff2'),
        url('/fonts/NeuePlak-NarrowRegular.woff') format('woff'),
        url('/fonts/NeuePlak-NarrowRegular.ttf') format('truetype'),
        url('/fonts/NeuePlak-NarrowRegular.svg#NeuePlak-NarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}