.table input.form-control {
    background: transparent;
    border: 0;

    &:focus,
    &:active {
        border-radius: 0;
        background: transparent;
        box-shadow: inset 0 0 6px rgba(50,50,50,0.5);
    }
}

.table {
    th,
    td {
        padding: 0;
    }
}