table input.form-control {
    background: rgba(0,0,0,0.02);
    border-radius: 0;
    border: 0;
    transition: background 0.2s ease-in-out;

    &:focus,
    &:active {
        border-radius: 0;
        background: transparent;
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: none;
    }
}

.table-dark input.form-control {
    background: rgba(255,255,255,0.02);
    color: white;

    &:focus,
    &:active {
        background: transparent;
        border: 1px solid rgba(255,255,255,0.1);
    }
}

.table {
    th,
    td {
        margin: 0;
        padding: 0;
    }
}